.wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: flex-start;
	background: linear-gradient(
		135deg,
		rgba(143, 83, 215, 1) 0%,
		rgba(72, 64, 187, 1) 75%,
		rgba(102, 153, 247, 1) 100%
	);
	color: #fff;
}
.contact {
	h2 {
		font-size: 24px;
	}
	padding: 1em;
	&__header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	article {
		border: 1px solid black;
		border-radius: 15px;
		padding: 1em;
		margin-bottom: 1em;
	}
}
